.vocabulary-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}

.vocabulary-container .table-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.vocabulary-container .word-grid-main-wrapper {
  flex: 1;
  max-height: none;
  min-height: 0;
}
