.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  outline: none;
}

.no-review {
  margin: auto;

  color: rgb(180, 180, 180);
}

/* === PROGRESS === */
.progress-container {
  width: 100%;
  max-width: 480px;
  margin-top: 20px;

  text-align: center;
}

.progress-text {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;
  color: rgb(150, 150, 150);
}

.progress-bar {
  width: 100%;
  height: 4px;

  background: rgb(60, 60, 60);
  border-radius: 4px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;

  background: rgb(210, 210, 210);

  transition: width 0.3s ease;
}

/* === CARD === */
.review-card {
  width: 100%;
  max-width: 480px;
  margin: 40px 0 10px 0;
  padding: 40px 0 60px 0;

  border: 1px solid rgb(60, 60, 60);
  border-radius: 16px;

  text-align: center;
}

.word-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 12px;
}

.review-word {
  margin-bottom: 40px;

  font-size: 24px;
  color: rgb(210, 210, 210);
}

.review-type {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 300;
  color: rgb(120, 120, 120);
}

.review-ipa {
  margin-bottom: 8px;

  font-size: 16px;
  color: rgb(180, 180, 180);
}

.pronounce-btn {
  margin-right: 4px;

  background: transparent;
  border: none;

  vertical-align: middle;
  color: rgb(120, 120, 120);

  cursor: pointer;
}

.pronounce-btn:hover {
  color: rgb(180, 180, 180);
  scale: 1.1;
}

.pronounce-btn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pronounce-btn.disabled:hover {
  color: rgb(120, 120, 120);
  /* Giữ nguyên màu khi bị disabled */
}

.pronounce-btn .material-symbols-outlined {
  font-size: 20px;
}

.review-meaning {
  visibility: hidden;
  opacity: 0;

  font-size: 20px;
  color: rgb(180, 180, 180);
}

.review-meaning.show {
  visibility: visible;
  opacity: 1;
}

/* === HINT === */
.review-hint {
  font-size: 12px;
  font-weight: 300;
  color: rgb(120, 120, 120);
}