/* === Grid Table === */
.word-grid-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 170px);
}

.word-grid-container {
  display: flex;
  flex: 1;
  width: 100%;

  overflow-y: auto;
  scrollbar-gutter: stable;

  font-size: 16px;
  text-align: left;
  color: rgb(120, 120, 120);
}

.word-grid-container::-webkit-scrollbar {
  width: 6px;
}

.word-grid-container::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 1px;
}

.word-grid-container::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 90, 90);
}

.grid-header-row {
  z-index: 10;

  display: grid;
  grid-template-columns:
    50px minmax(150px, 20%) minmax(150px, 20%) minmax(100px, 15%)
    minmax(150px, 30%) 70px 130px 130px;
  padding-right: 6px;

  background-color: rgb(15, 15, 15);
  border-top: 1px solid rgb(60, 60, 60);
  border-bottom: 1px solid rgb(60, 60, 60);

  text-align: left;
}

.word-grid-inner {
  position: relative;
  width: 100%;
}

.word-grid-row {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns:
    50px minmax(150px, 20%) minmax(150px, 20%) minmax(100px, 15%)
    minmax(150px, 30%) 70px 130px 130px;
  align-items: center;
  width: 100%;

  border-bottom: 1px solid rgb(30, 30, 30);
}

.word-grid-row:hover {
  z-index: 50;

  background-color: rgb(30, 30, 30, 0.5);
}

.grid-header {
  padding: 4px 0;

  font-weight: bold;
}

.sortable-th {
  cursor: pointer;
}

.sortable-th:hover {
  color: rgb(210, 210, 210);
}

.sort-icon {
  margin-left: 2px;

  font-size: 20px;
  vertical-align: middle;

  user-select: none;
}

.grid-cell {
  padding: 6px 0;

  word-break: break-word;
}

.word-grid-container.is-editing .grid-cell {
  cursor: text;
}

.grid-cell.active-cell,
.grid-cell.modified-cell {
  color: rgb(210, 210, 210);
}

/* === Input Grid Table === */
.table-input {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;

  background: transparent;
  border: none;
  outline: none;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  resize: none;
}

textarea.table-input {
  field-sizing: content;
}

input.table-input {
  height: 1lh;
}

.table-input::-webkit-datetime-edit-fields-wrapper,
.table-input::-webkit-datetime-edit-month-field,
.table-input::-webkit-datetime-edit-day-field,
.table-input::-webkit-datetime-edit-year-field {
  padding: 0;
}

.table-input:focus {
  color: #ffffff;
}

.table-input.modified {
  color: #ffffff;
}

.table-input::-webkit-calendar-picker-indicator {
  display: none;
}

/* === Audio Column === */
.audio-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-audio-btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  transition: all 0.2s ease;
}

.table-audio-btn:hover {
  z-index: 100;
}

.table-audio-btn span {
  font-size: 20px;
}

.table-audio-btn.active {
  color: rgb(120, 120, 120);

  cursor: pointer;
}

.table-audio-btn.active:hover {
  color: rgb(180, 180, 180);

  transform: scale(1.1);
}

.table-audio-btn.disabled {
  opacity: 0.3;

  color: rgb(60, 60, 60);

  cursor: not-allowed;
}

/* === Delete Styles === */
.table-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  color: rgb(120, 120, 120);

  cursor: pointer;
  transition: all 0.2s ease;
}

.table-delete-btn:hover {
  color: rgb(255, 69, 58);

  transform: scale(1.1);
}

.table-delete-btn span {
  font-size: 20px;
}
