/* === LAYOUT === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 4px;

  border-bottom: 1px solid rgb(60, 60, 60);
}

.navbar-left,
.navbar-right {
  display: flex;
  flex: 1;
}

.navbar-center {
  display: flex;
  gap: 16px;
}

.navbar-right {
  justify-content: flex-end;
}

/* === LEFT === */
.nav-logo-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background: transparent;
  border: none;

  cursor: pointer;
}

.nav-logo {
  display: block;
  width: 56px;
  height: 56px;
}

/* === CENTER === */
.nav-btn {
  cursor: pointer;
}

.nav-icon-btn {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 56px;

  background: transparent;
  border: none;
  border-radius: 8px;

  color: rgb(120, 120, 120);

  cursor: pointer;
}

.nav-icon-btn:hover {
  background: rgb(60, 60, 60, 0.5);
}

.nav-icon-btn.active {
  color: rgb(210, 210, 210);
}

.nav-icon-btn.active:hover {
  background: transparent;
}

.nav-icon-btn.active::after {
  position: absolute;
  left: -8px;
  right: -8px;
  bottom: -4px;

  height: 2px;

  background: rgb(210, 210, 210);

  content: "";
}

.nav-icon-btn .material-symbols-outlined {
  font-size: 32px;
}

/* === RIGHT === */
.nav-settings-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;

  background: transparent;
  border: none;

  color: rgb(120, 120, 120);

  cursor: pointer;
}

.nav-settings-btn:hover {
  color: rgb(210, 210, 210);
}

.nav-settings-btn .material-symbols-outlined {
  font-size: 36px;
}