.insights-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

/* === Navigation === */
.sub-nav {
  display: flex;
  justify-content: center;

  width: 100%;
}

.sub-nav-btn {
  cursor: pointer;
}

/* === Body === */
.insights-content {
  width: 100%;

  text-align: center;
  color: #606060;
}
