/* === LAYOUT === */
.insights-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* === SUB NAVIGATION === */
.sub-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sub-nav-btn {
  cursor: pointer;
}

/* === CONTENT === */
.insights-content {
  width: 100%;

  text-align: center;
  color: rgb(90, 90, 90);
}