/* === LAYOUT === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-bottom: 4px;
}

.navbar-left,
.navbar-right {
  display: flex;
  flex: 1;
}

.navbar-center {
  display: flex;
  gap: 12px;
}

.navbar-right {
  justify-content: flex-end;
}

/* === LEFT === */
.nav-logo-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  background: transparent;

  cursor: pointer;
}

.nav-logo {
  display: block;
  width: 56px;
  height: 56px;
}

/* === CENTER === */
.nav-btn {
  cursor: pointer;
}

.nav-icon-btn {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 84px;
  height: 56px;

  border: none;
  border-radius: 8px;
  background: transparent;

  color: #a0a0a0;

  cursor: pointer;
}

.nav-icon-btn:hover {
  background: #303030;
}

.nav-icon-btn.active {
  color: #ffffff;
}

.nav-icon-btn.active:hover {
  background: transparent;
}

.nav-icon-btn.active::after {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  bottom: -4px;

  height: 2px;
  background: #ffffff;
}

.nav-icon-btn .material-symbols-outlined {
  font-size: 28px;
}

/* === RIGHT === */
.nav-settings-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding-right: 8px;

  border: none;
  background: transparent;

  color: #808080;

  cursor: pointer;
}

.nav-settings-btn:hover {
  color: #ffffff;
}

.nav-settings-btn .material-symbols-outlined {
  font-size: 40px;
}
